* {
    margin: 0;
       padding: 0;
     }
   

     @font-face {
        font-family: 'TeX Gyre Termes';
        src: url('/assets/fonts/texgyretermes-regular.woff2') format('woff2'),
             url('/assets/fonts/texgyretermes-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'TeX Gyre Termes';
        src: url('/assets/fonts/texgyretermes-bold.woff2') format('woff2'),
             url('/assets/fonts/texgyretermes-bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
      }
      
      body {
        font-family: 'TeX Gyre Termes', Times, serif;
      }
      