input.form-control.customInput {
    background-color: lightgray !important;
    border-color: gray !important;
    border-radius: 4px !important;
    color: black !important;
    box-shadow: none !important;
  }
  
  input.form-control.customInput:focus {
    background-color: lightgray !important;
    border-color: gray !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  